.App{
  text-align: center;
}
body{
  box-sizing: border-box;
  background-color:whitesmoke;
  width: 100%;
}
h1,h2,h3,h4,h5,h6,p,div{
  margin: 0;
}

/* --------------------- NAVBAR STYLES --------------------- */
.navbar{
  margin:0;
  width: 90%;
  height:60px;
  margin: auto;
  margin-top: 20px;
  /* border:1px solid green; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: sticky;
  color: rgb(53, 52, 52);
}

.sort{
  width: 200px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.sort--icon{
  width: 12%;
}

.sort--text{
  font-size: 15px;
  margin-right: 10px;

}

.sort--text:hover{
  color:rgb(37, 109, 241);
}

.filter--icon{
  width: 9%;
  margin-left:20px;
}

.filter--text{
  font-size: 0.8rem;
  margin-right: 10px;
}

.greet{
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.sun--icon{
  width: 15%;
  margin-left: 10px;
}
.nav--title
{
  font-size: 1.5rem;
}
.favorite--button{
  border: none;
  color:rgb(53, 52, 52);
  cursor: pointer;
  margin-left: 20px;
  background-color: whitesmoke;
  font-size: 15px;
}
.favorite--button:hover{
  color:   rgb(37, 109, 241);
}

/* -------------------INPUT STYLES------------------------------- */

.input{
  width: 80%;
  height: 3rem;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  margin: auto;
  margin-top: 40px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  padding-left:25px;
  color: rgb(53, 52, 52);
  display: block;
}

.input:focus {
  outline: none;
  border-color: rgb(37, 109, 241);
  box-shadow: 0 0 5px rgb(37, 109, 241);
}
.input::placeholder{
  /* color:rgb(75, 130, 231) ;  */
  color: rgb(37, 109, 241);
  font-size: 16px;
}
/* .input--button{
  font-size: 20px;
  border: 1px solid rgb(37, 109, 241);
  color: rgb(37, 109, 241);
  border-radius: 50%;
  width: 43px;
  height: 43px;
  margin-left: 15px;
}
.input--button:hover{
  background-color:rgb(37, 109, 241);
  color: white;
  cursor: pointer;
} */
.task--section{
  margin: auto;
}
.task{
  width: 80%;
  display: flex;
  margin: auto;
  margin-top: 30px;
  align-items: center;
}
.task--heading{
  cursor: pointer;
}
.task--title{
  width: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.completed--task--title{
  width:10rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.completed--task--downarrow{
  width:12%;
}
.task--downarrow{
  width: 30%;
 
}

/* .custom--hr {
  border: none;
  height: 1px;
  background-color: coral;
} */
.all--todos{
  width: 80%;
  margin: auto;
}

.todo{
  width: 100%;
  height: auto;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  margin-top: 10px;
  border-radius: 10px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px 10px 0px;
}

.todo--right{
  width: 90%;
   margin-left: 25px;
   display: flex;
   align-items: center;
   /* border: 1px solid red; */
}
.todo--right>p{
   text-decoration: line-through;
}

.todo--right>input{
  width: 16px;
  height: 16px;
  appearance: none;
  border: 2px solid rgb(75, 130, 231) ;
  border-radius: 50%;
  outline: none;
  align-items: center;
}
.todo--desc{
  width: 100%;
  /* border: 1px solid red; */
  text-align: left;
  margin-left: 10px;
}
.todo--des{
  width: 100%;
  /* border: 1px solid red; */
  text-align: left;
  margin-left: 10px;
}
.todo--right>input:checked{
  background-color:rgb(75, 130, 231) ;
}
.todo--left{
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  /* border: 1px solid red; */
}

.todo--toggle{
  width: 10%;
  margin-right: 15px;
  align-items: center;
}

.todo--delete{
  width: 10%;
  margin-right: 20px;
}

.todo--app{
  min-height: 85vh;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.task--timestamp{
  font-size: 11px;
  margin: 5px 0px 0px 15px;
}

.footer{
  /* background-color: #f0f0f0; */
  padding: 10px;
  text-align: center;
  position: sticky;
  bottom: 0;
}

.created--time{
  font-size: 11px;
  margin-left: 10px;
  color:rgb(37, 109, 241);
}

.todo--created_date{
  font-size: 12px;
  margin-right: 15px;
}

.date{
  font-size: 14px;
  color: rgb(37, 109, 241);
  padding: 10px 0px 5px 0px;
}

.no--favorite{
  margin-top: 30px;
}

.todo--edit_icon{
  width:10%;
  margin-right: 15px;
}

.edit--save{
  margin-top: 15px;
  width: 80px;
  padding: 5px 0px 5px 0px;
  border: 1px solid green;
  border-radius: 10px;
  color: green;
}
.edit--save:hover{
  background-color: green;
  color: white;
}

.edit--cancel{
  margin-top: 15px;
  margin-left: 10px;
  width: 80px;
  padding: 5px 0px 5px 0px;
  border: 1px solid red;
  border-radius: 10px;
  color: red;
}
.edit--cancel:hover{
  background-color: rgb(156, 7, 7);
  color: white;
}

.bluetick {
  width: 20px;
}

.bluecircle{
  width: 16px;
}

.custom--hr2{
  width: 87%;
}

.custom--hr1{
  width: 93%;
}